<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elo14.listviewnba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icononba22"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icononba2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pabellones" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicioActivity" />
        <activity android:name=".DetalleActivityPabellones" />
        <activity
            android:name=".PaginaWeb"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Clasificacion" />
        <activity android:name=".Uniformes" />
        <activity android:name=".Logos" />
        <activity android:name=".Jugadores" />
        <activity android:name=".DetalleActivityEquipaciones" />
        <activity android:name=".DetalleActivityJugadores" />
        <activity android:name=".DetalleActivityLogos"></activity>
    </application>

</manifest>